#.clang - format
IndentWidth: 4
ColumnLimit: 150
BreakBeforeBraces: Allman
# AlignConsecutiveAssignments: true
# AlignConsecutiveDeclarations: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
# RemoveBracesLLVM: true
InsertBraces: true
AllowShortFunctionsOnASingleLine: None
NamespaceIndentation: All
PointerAlignment: Right
